@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@700&family=Delius+Unicase:wght@400;700&family=Fascinate+Inline&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
  font-family: Delius Unicase, serif, cursive;


}

body {
  box-sizing: border-box;
  //   padding: 3rem;
  background-color: $color-black-soft;


}

::selection {
  background-color: $color-primary;
  color: $color-white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
